<div class='entire-page'>

  <h1 class='headline'>Welcome To Gal's Coupons!</h1>

<div class='column-container'>
  <div class='column'>
    <p class='p-headline'><u>Gal's Coupons</u></p>
    <p> This is a coupon system demo app. <br>
    You can sign in as an Administrator (Admin), Company, or Customer.</p>
    <p class='ul-headline'>The Admin can:</p>
    <ul>
      <li>See all companies' and all customers' details.</li>
      <li>Update their details.</li>
      <li>Add a new company or a new customer.</li>
      <li>Delete any company or customer.</li>
    </ul>
    <p class='ul-headline'>Companies can:</p>
    <ul>
      <li>See and update their profile.</li>
      <li>See all their coupons.</li>
      <li>Update any coupon.</li>
      <li>Create new coupons.</li>
      <li>Delete any coupon.</li>
    </ul>
    <p class='ul-headline'>Customers can:</p>
    <ul>
      <li>See and update their profile.</li>
      <li>See the coupons they own. </li>
      <li>See all available coupons.</li>
      <li>Buy new coupons.</li>
    </ul>
  </div>

  <div class='column'>
    <!-- <p>Here are a few things to be aware of:</p> -->
    <p class='p-headline'><u>Registration</u></p>
    <ol>
      <li>There are two ways to register as a new company or a new customer:
        <ul>
          <li>The admin can add them with their details.</li>
          <li>They can sign up and register their details.</li>
          <li><i class="fas fa-key"></i>
            If you'd like to register as an admin to check out the interface,
            please contact us via
            <a class='contact-line' href="mailto:galezry@gmail.com">email</a> or
            <a class="contact-line" href="https://wa.me/+16468792266?" target="_blank">whatsapp</a>.
          </li>
        </ul>
      </li>
      <li>A new company cannot register with a name or an email that is used by another company.</li>
      <li>A new customer cannot register with an email that is used by another customer.</li>
    </ol>
    <p class='p-headline'><u>Restrictions</u></p>
    <ol>
      <li>It is <u>NOT</u> possible to update:
        <ul>
          <li>The ID of a company, a customer or a coupon.</li>
          <li>The name of a company.</li>
        </ul>
      </li>
      <li>When creating a coupon, the company cannot use a title that is already used for one
        of its coupons.</li>
      <li>Each coupon can be purchased only once by each customer.</li>
    </ol>
  </div>

  <div class='column'>
    <p class='p-headline'><u>On Deletion</u></p>
  <ol>
    <li>When a coupon is deleted by a company:
      <ul>
        <li>Customers who own this coupon would no longer see this coupon in their list.</li>
        <li>All other customers would no longer see this coupon as available for purchase.</li>
      </ul>
    </li>
    <li>When a company is deleted by the admin, all its coupons are automatically deleted.</li>
  </ol>
  <p class='p-headline'><u>Coupon's expiration</u></p>
  <p>Each coupon has an expiration date.
    When a coupon expires it is automatically deleted from the system, with
    the same consequences as when a coupon is deleted by a company.
  </p>

  <p class='p-headline'><u>Out of stock</u></p>
  <p class='ul-headline'>When a coupon is out of stock:</p>
  <ul>
    <li>The coupon would still appear in its company's list, with an amount of a zero.</li>
    <li>It would appear in the coupon's list of the customers who purchased it.</li>
    <li>But it wouldn't appear in the available coupons list for customers who don't own it.</li>
  </ul>
  <!-- <p>The Data seeing by the admin, companies and customers can be sort and filtered</p>
  <p>For example, Companies and customers can filter the coupons they see by a category, title,
    max price, etc.</p> -->

  </div>



</div>


</div>



