<div *ngIf="getScreenWidth() > 860" class="footer">

    <div class="social">
        <a target="blank" href="https://github.com/galezry?tab=repositories">
            <i class="fab fa-github"></i></a>

        <a target="blank" href="https://www.linkedin.com/in/gal-ezry-995a58205/">
          <i class="fab fa-linkedin"></i></a>
    </div>

      <a class='lap-abo-cont' routerLink="about" routerLinkActive="active-link">About Us</a>
      <div class='lap-txt'>&copy; 2021-2022 Gal's Coupons. Gal Ezry's Product. All Rights Reserved
      </div>
      <a class='lap-abo-cont' routerLink="contact" routerLinkActive="active-link">Contact Us</a>

    <div class="contact">
        <a href="mailto:galezry@gmail.com">
          <i class="far fa-envelope"></i></a>

        <a href="https://wa.me/+16468792266?&
            text=Hey, I've checked out Gal's Coupons" target="_blank">
            <i class="fab fa-whatsapp"></i></a>
    </div>

</div>


<div *ngIf="getScreenWidth() > 480 && getScreenWidth() <= 860" class="footer">

  <div class='first-line'>
    <div class="social">
      <a target="blank" href="https://github.com/galezry?tab=repositories">
          <i class="fab fa-github"></i></a>

      <a target="blank" href="https://www.linkedin.com/in/gal-ezry-995a58205/">
        <i class="fab fa-linkedin"></i></a>
    </div>

    <a routerLink="about" routerLinkActive="active-link">About Us</a>

    <a routerLink="contact" routerLinkActive="active-link">Contact Us</a>

    <div class="contact">
      <a href="mailto:galezry@gmail.com">
        <i class="far fa-envelope"></i></a>

      <a href="https://wa.me/+16468792266?&
          text=Hey, I've checked out Gal's Coupons" target="_blank">
          <i class="fab fa-whatsapp"></i></a>
    </div>


  </div>


  <div class='txt'>&copy; 2021-2022 Gal's Coupons. Gal Ezry's Product. All Rights Reserved</div>

</div>


<div *ngIf="getScreenWidth() <= 480" class="footer">

  <div class="social">
      <a target="blank" href="https://github.com/galezry?tab=repositories">
          <i class="fab fa-github"></i></a>

      <a routerLink="about" routerLinkActive="active-link">About Us</a>

      <a target="blank" href="https://www.linkedin.com/in/gal-ezry-995a58205/">
        <i class="fab fa-linkedin"></i></a>
  </div>

  <div class="contact">
    <a href="mailto:galezry@gmail.com">
      <i class="far fa-envelope"></i></a>

    <a routerLink="contact" routerLinkActive="active-link">Contact Us</a>

    <a href="https://wa.me/+16468792266?&
        text=Hey, I've checked out Gal's Coupons" target="_blank">
        <i class="fab fa-whatsapp"></i></a>
  </div>

  <div class='txt'>&copy; 2021-2022 Gal's Coupons. Gal Ezry's Product. All Rights Reserved</div>

</div>






<!-- <img src="../../../assets/images/contact/github.svg.png" alt="">
        <i class="fab fa-linkedin"></i>
        <i class="fa fa-at"></i>
        <i class="fa fa-envelope"></i>
        <i class="fab fa-whatsapp"></i>
        <i class="fas fa-phone"></i>
        <img src="../../../assets/images/contact/WhatsApp.svg.png" alt="">
        <img src="../../../assets/images/contact/iOS-Messages-Icon.png" alt="">
        <i class="far fa-comment"></i>
        <a class="phone" href="https://api.whatsapp.com/send?phone=16468792266?&
            text=Hey, I'm interested in your product, please contact me" target="_blank">
        <img src="../../../assets/images/contact/WhatsApp.svg.png" alt=""></a>
        <a class="emoji" href="tel:+972544366730">☎️</a> -->


