<div class='entire-page'>

  <h1 class='headline'>The stack we used</h1>

  <div class='column-container'>
    <div class='column'>
      <p class='p-headline'><u>Developing the app</u></p>
      <p> Here is the tech stack that has been used to build and run this application.
      </p>

      <p class='p-headline'><u>Client side front-end</u></p>
      <ol>
        <li><b>Angular</b> Framework using <b>HTML</b>, <b>CSS</b> and <b>TypeScript</b> (a superset of <b>JavaScript</b>).</li>
        <li><b>Bootstrap</b> Framework.</li>
      </ol>

    </div>

    <div class='column'>
      <p class='p-headline'><u>Server side back-end</u></p>
      <ol>
        <li>The web application server:
          <ul>
            <li>Is written in <b>Java</b> using <b>Spring</b> Framework.</li>
            <li>Is using <b>REST</b>ful APIs.</li>
            <li>Was tested using <b>Swagger</b> UI.</li>
          </ul>
        </li>
        <li>Application Dependencies: Spring Boot, Spring Web, Spring Data JPA, MySQL Driver,
          PostgreSQL Driver, Lombok, Spring-boot-devtools, springfox-swagger-ui, Awaitility. </li>
        <li>Database: <b>MySQL</b> and <b>PostgreSQL</b>.</li>
      </ol>




    </div>

    <div class='column'>
      <p class='p-headline'><u>The Application is:</u></p>
      <ol>
        <li>Handling <b>HTTP</b> requests and responses between the front-end and the back-end.</li>
        <li>Implementing <b>CRUD</b> - Create, Retrieve, Update and Delete Companies, Customers,
          Coupons & Images in a persistent storage.</li>
        <li>Sending information between the front-end and the back-end in <b>JSON</b> format.</li>
      </ol>
      <!-- Check out the ... -->
      Take a look at the source code
      <a class='src-code' target="blank" href="https://github.com/galezry?tab=repositories"> here
        <i class="fab fa-github"></i>.</a>

      <!-- <div>
        <br>
        <img class='img-fluid' width='10%' alt="java logo"
        src="../../../assets/images/programming-logo/Java2.png">&nbsp;&nbsp;
        <img class='img-fluid' width='10%' alt="spring logo"
        src="../../../assets/images/programming-logo/spring.png">&nbsp;&nbsp;
        <img class='img-fluid' width='15%' alt="mySql logo"
        src="../../../assets/images/programming-logo/mysql.png">&nbsp;&nbsp;
        <img class='img-fluid' width='10%' alt="postgresql logo"
        src="../../../assets/images/programming-logo/postgresql.png">&nbsp;&nbsp;
        <img class='img-fluid' width='12%' alt="swagger logo"
        src="../../../assets/images/programming-logo/swagger.png">&nbsp;&nbsp;
        <br><br>
        <img class='img-fluid' width='12%' alt="angular logo"
        src="../../../assets/images/programming-logo/angular.png">&nbsp;&nbsp;
        <img class='img-fluid' width='11%' alt="html logo"
        src="../../../assets/images/programming-logo/html.png">&nbsp;&nbsp;
        <img class='img-fluid' width='8%' alt="css logo"
        src="../../../assets/images/programming-logo/css.png">&nbsp;&nbsp;
        <img class='img-fluid' width='10%' alt="js logo"
        src="../../../assets/images/programming-logo/js.png">&nbsp;&nbsp;
        <img class='img-fluid' width='10%' alt="ts logo"
        src="../../../assets/images/programming-logo/Typescript.png">&nbsp;&nbsp;
      </div> -->

    </div>

  </div>

  <div *ngIf="!isMobile()" class='logo-container'>

      <img class='img-fluid java'  alt="java logo"
      src="../../../assets/images/programming-logo/Java.png">
      <img class='img-fluid spring' alt="spring logo"
      src="../../../assets/images/programming-logo/spring.png">
      <img class='img-fluid mysql' alt="mySql logo"
      src="../../../assets/images/programming-logo/mysql.png">
      <img class='img-fluid postg' alt="postgresql logo"
      src="../../../assets/images/programming-logo/postgresql.png">
      <img class='img-fluid swagger' alt="swagger logo"
      src="../../../assets/images/programming-logo/swagger.png">

      <img class='img-fluid angular' alt="angular logo"
      src="../../../assets/images/programming-logo/angular.png">
      <img class='img-fluid html' alt="html logo"
      src="../../../assets/images/programming-logo/html.png">
      <img class='img-fluid css' alt="css logo"
      src="../../../assets/images/programming-logo/css.png">
      <img class='img-fluid js' alt="js logo"
      src="../../../assets/images/programming-logo/js.png">
      <img class='img-fluid ts' alt="ts logo"
      src="../../../assets/images/programming-logo/Typescript.png">
      <img class='img-fluid bs' alt="bs logo"
      src="../../../assets/images/programming-logo/Bootstrap.png">

  </div>

  <div *ngIf="isMobile()">
    <div class='logo-line'>
      <img class='img-fluid java'  alt="java logo"
      src="../../../assets/images/programming-logo/Java.png">
      <img class='img-fluid spring' alt="spring logo"
      src="../../../assets/images/programming-logo/spring.png">
      <img class='img-fluid mysql' alt="mySql logo"
      src="../../../assets/images/programming-logo/mysql.png">
      <img class='img-fluid postg' alt="postgresql logo"
      src="../../../assets/images/programming-logo/postgresql.png">
      <img class='img-fluid swagger' alt="swagger logo"
      src="../../../assets/images/programming-logo/swagger.png">
    </div>

    <div class='logo-line'>
      <img class='img-fluid angular' alt="angular logo"
      src="../../../assets/images/programming-logo/angular.png">
      <img class='img-fluid html' alt="html logo"
      src="../../../assets/images/programming-logo/html.png">
      <img class='img-fluid css' alt="css logo"
      src="../../../assets/images/programming-logo/css.png">
      <img class='img-fluid js' alt="js logo"
      src="../../../assets/images/programming-logo/js.png">
      <img class='img-fluid ts' alt="ts logo"
      src="../../../assets/images/programming-logo/Typescript.png">
      <img class='img-fluid bs' alt="bs logo"
      src="../../../assets/images/programming-logo/Bootstrap.png">
    </div>
    <br>
  </div>


</div>
