<div class='entire-page'>

  <h1 class='headline'>Our Team</h1>
  <div class='column-container'>
    <div class='column'>
      <p class='p-headline'><u>The App Developer</u></p>

        <p>
          <img class='float-img' src="../../../assets/images/me.png" alt="photo">
          This app was developed by Gal Ezry, as the final project of a five months intensive
          Full Stack course, held by John Bryce college, and supported by the Ministry of Labor,
          Social Affairs and Social Services of Israel.
       </p>
       <p class='ul-headline'>Formal Education</p>
       <p>
          A Bachelor of Accountancy and Economics (B.A.),
          as well as a Bachelor of Laws (LL.B.), all degrees by Tel Aviv University of Israel.
          Graduated the B.A in high grades, excelling in Math and Statistics courses.
        </p>



        <p class='ul-headline'>Some Professional Background</p>
      <p>
        Working as a Financial Advisor for nine years in a leading accounting firm in Israel,
        every aspect of my job required a high level of preciseness and attention to detail.
        Whether it was Financial Statement Analysis, conducting Valuations, Budgeting,
        or preparing cash flow forecasts.
      </p>
      <p>
        Working for the Consulate General of Israel in New York, NY, for five years, as the
        Insurance Specialist as well as a Financial Advisor. <br>
        My responsibilities as the insurance specialist included managing the health care,
        the workers' compensation and the liability insurance for all delegations of Israel to
        the United States. <br>
        <!-- working in the financial department in the head of administration office. -->
        My responsibilities as the financial advisor included monitoring the
        financial system software and the adjustment of its data to the Bank accounts.
        Overseeing the finance and accounting operations, and Budget Analysis.
      </p>



<!--
      <p class='ul-headline'>The Admin can:</p>
      <ul>
        <li>See all companies' and all customers' details.</li>
        <li>Update their details.</li>
        <li>Add a new company or a new customer.</li>
        <li>Delete any company or customer.</li>
      </ul>
      <p class='ul-headline'>Companies can:</p>
      <ul>
        <li>See and update their profile.</li>
        <li>See all their coupons.</li>
        <li>Update any coupon.</li>
        <li>Create new coupons.</li>
        <li>Delete any coupon.</li>
      </ul>
      <p class='ul-headline'>Customers can:</p>
      <ul>
        <li>See and update their profile.</li>
        <li>See the coupons they own. </li>
        <li>See all available coupons.</li>
        <li>Buy new coupons.</li>
      </ul>  -->
    </div>

    <div class='column'>

      <p class='p-headline'><u>Becoming a Software Developer</u></p>
      <p>

        Majoring in Technology Studies in high school, back in the day,
        the love for math, numbers and problem solving have always been there.
        So a couple of years ago I reflamed my passion for coding. Self learning the basics of
        web development was fun, but what I was enjoying the most was solving algorithmic
        problems. <br>
        As time went by it was clear that this is what I should be doing: coding,
        challenging myself, thinking, finding the solution, creating. It was fun, enjoyable
        and fulfilling. my attention to detail was a plus and my problem solving skills have
        gotten better.

      </p>


      <p class='p-headline'><u>Full Stack Development</u></p>
      <p>
        The next step was being accepted to a Full Stack professional training course,
        supported by the State of Israel.
      </p>
      <p class='ul-headline'>Full Stack Course by John Bryce</p>
      <p>The course lasted for five months and was full-time training
        (5 days a week).

        <!-- The back-end part of this app was developed during the last coupole of weeks of the
        training, and this was the requirement for graduating the course. <br>
         After gratuating with excellent grades, I started developing the front-end.
        While there were instructions for what should be in the client side, a big part of the
        front-end's analysis and design was left for the developer to explore and implement
        his/her style. As developing the front-end, new
        ideas and new feachers for the app came up. That is how I have benn learning so much during
        this process, things like uploading images to the server and retriving them -->
        Here are some of the technologies that were taught during the training:
      </p>

    <ul>
      <li>Basic Java</li>
      <li>OOP & Java</li>
      <li>Java APIs</li>
      <li>SQL</li>
      <li>JDBC</li>
      <li>Functional Programming</li>
      <li>Java Design Patterns</li>
      <li>Data Networking</li>
      <li>Spring Framework</li>
      <li>Java REST with Spring Boot</li>
      <li>Spring Data - JPA/Hibernate</li>
      <li>Spring Web & Modern App Structure</li>
      <li>Spring MVC</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Angular & TypeScript</li>
      <!-- Android Extreme Java Spring Cloud Microservices -->
    </ul>

    </div>

    <div class='column'>
      <p class='p-headline'><u>Developing the Front-end</u></p>
      <p>
        As mentioned, this app was developed as the final project of the training.
        After graduating with excellent grades, I started developing the front-end.
        Having the Analysis and Design of the client side's done by myself, allowed me
        to come up with ideas and features, and to explore and implement my style.
        That is, things like data Sorting & Filtering, Uploading images to the Database,
        and making the website responsive, were not part of the
        project's requirements.
        <br>
        Furthermore, this process improved tremendously my Self Learning Abilities,
        my Problem Solving Skills, and my Debugging Techniques among other things.
      </p>
    <!-- <p class='p-headline'><u></u></p>
    <p>
    </p>

    <p class='p-headline'><u></u></p> -->



    </div>



  </div>





</div>
