<div class='entire-page'>

  <h1 class='headline'>Our Team</h1>
  <div class='column-container'>
    <div class='column'>
      <p class='p-first-headline'><u>The App Developer</u></p>

        <p>
          <img class='float-img' src="../../../assets/images/me.png" alt="photo">
          This app was developed by Gal Ezry, as the final project of a five months intensive
          Full Stack course, held by John Bryce college, and supported by the Ministry of
          Economy and Industry of Israel.
       </p>
       <p class='ul-headline'>Formal Education</p>
       <p>
          A Bachelor of Accountancy and Economics (B.A.),
          as well as a Bachelor of Laws (LL.B.), all degrees by Tel Aviv University of Israel.
          Graduated the B.A in high grades, excelling in Math and Statistics courses.
        </p>



        <p class='ul-headline'>Some Professional Background</p>
      <p>
        Worked as a Financial Advisor for nine years in a leading accounting firm in Israel,
        every aspect of my job required a high level of preciseness and attention to detail.
        Whether it was Financial Statement Analysis, conducting Valuations, Budgeting,
        or preparing cash flow forecasts.
      </p>
      <p>
        Worked for the Consulate General of Israel in New York, NY, for almost five years, as the
        Insurance Specialist as well as a Financial Advisor. <br>
        My responsibilities as the insurance specialist included managing the health care,
        the workers' compensation and the liability insurance for all delegations of Israel to
        the United States. <br>
        My responsibilities as the financial advisor included monitoring the
        financial system software and the adjustment of its data to the Bank accounts.
        Overseeing the finance and accounting operations, and Budget Analysis.
      </p>

    </div>

    <div class='column'>

      <p class='p-headline'><u>Becoming a Software Developer</u></p>
      <p>

        Majoring in Technology Studies in high school, the love for math, numbers and problem
        solving have always been there.
        A couple of years ago I reflamed my passion for coding. Self learning the basics of
        web development was fun, however what I was enjoying the most was solving algorithmic
        problems. <br>
        As time went by, it was clear that this is what I should be doing: Coding,
        challenging myself, thinking, finding the solution, creating. It was fun, enjoyable
        and fulfilling. My attention to detail was a plus and my problem solving skills have
        gotten better.

      </p>


      <p class='p-headline'><u>Full Stack Development</u></p>
      <p>
        The next step was being accepted to a Full Stack professional training course,
        supported by the State of Israel.
      </p>
      <p class='ul-headline'>Full Stack Course by John Bryce</p>
      <p>The course was a full-time training (5 days a week) from January 2021 to June 2021.
        Here are some of the technologies and topics that were taught during the training:
      </p>

    <ul>
      <li>Basic Java</li>
      <li>OOP & Java</li>
      <li>Java APIs</li>
      <li>SQL</li>
      <li>JDBC</li>
      <li>Functional Programming</li>
      <li>Java Design Patterns</li>
      <li>Data Networking</li>
      <li>Spring Framework</li>
      <li>Java REST with Spring Boot</li>
      <li>Spring Data - JPA/Hibernate</li>
      <li>Spring Web & Modern App Structure</li>
      <li>Spring MVC</li>
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript</li>
      <li>Angular & TypeScript</li>
      <!-- Android Extreme Java Spring Cloud Microservices -->
    </ul>

    </div>

    <div class='column'>
      <p class='p-headline'><u>Developing the Front-end</u></p>
      <p>
        As mentioned, this app was developed as the final project of the training.
        After graduating with excellent grades, I started developing the front-end.
        Having the client side's Analysis and Design done mostly by myself, allowed me
        to come up with ideas and features, and to explore and implement my style.
        That is, things like data Sorting & Filtering, Uploading images to the Database,
        and making the website Responsive, were not part of the project's requirements.
        <br>
        Furthermore, this process improved tremendously my Self Learning Abilities,
        my Problem Solving Skills, and my Debugging Techniques among other things.
      </p>

    </div>

  </div>

</div>
