
.login-form {
  margin-top: 45px;
}

input {
  width: 320px;
  /* max-width: 90%; */
}

.form-item {
  margin: auto;
}

.form-err {
  width: fit-content;
  min-width: 320px;
  max-width: 90%;
  margin: auto;
  padding: 0.5%;
}

/* .red {
  color: red;
}

.blue {
  color: blue;
} */


.password-line {
  position: relative;
  right: 15px;
}

.password-input {
  display: inline;
  /* width: 300px; */
}

img {
  width: 21px;
  margin-right: 9px;
}

select {
  width: 320px;
  /* max-width: 90%; */
}

.sign-up {
  color: blue;
  font-size: 1.05em;
}

a:hover {
  color: green;
  font-weight: bold;
  text-decoration: none;
}

.dropdown-item {
  cursor: pointer;
}


@media screen and (max-width: 480px) {

  input {
    width: 240px;
  }

  .form-err {
    min-width: 240px;
  }

  .password-line {
    right: 11px;
  }

  img {
    width: 19px;
    margin-right: 8px;
  }

  select {
    width: 240px;
  }

  .sign-up {
    font-size: 1em;
  }

}


@media screen and (max-width: 349px) {

  .login-form {
    margin-top: 25px;
  }

  input {
    width: 200px;
  }

  .form-err {
    min-width: 200px;
  }

  img {
    width: 17px;
    margin-right: 7px;
  }

  select {
    width: 200px;
  }

  .sign-up {
    color: blue;
    font-size: 0.95em;
  }


}



