

/* You can add global styles to this file, and also import other style files */


html,body{
font-family: helvetica, 'open sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
/* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
height: 100%;
width: 100%;
margin: 0;
padding: 0;
/* position:fixed;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px; */
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
